{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#5ACDFF;
	color: #000;

	{% if featured_image.make_image_background %}
		background-image: url("{{ featured_image.image.url }}");
		background-repeat: no-repeat;
		background-color: #000;
		background-size: cover;
		background-position-y: -272px;
		{% if featured_image.text_css_color %}
		color: #{{ featured_image.text_css_color }};
		{% endif %}
	{% endif %}
}

{% endblock %}
</style>


     
{% block jumbotron %}
	{% if featured_image %}
	<div class="jumbotron">
	 <div class="container">
		<div class="row">
			<div class='col-sm-6 {% if featured_image.text_right %} pull-right {% endif %}'>
			<h1>{{ featured_image.product.title }}</h1>
			<p>{{ featured_image.product.description }}</p>
			<p>
			<a class="btn btn-lg btn-primary" href="{{ featured_image.product.get_absolute_url }}" role="button">More Details...</a>
			</p>
			</div>
			{% if not featured_image.make_image_background %}
			<div class='col-sm-6' >
				<img src="{{ featured_image.image.url }}" class="img-responsive" alt="">

	 		</div>
	 		{% endif %}
			</div>
		</div>
	 </div>
	{% endif %}
{% endblock %}




{% block content %}
<h3>Products</h3>
 {% include "products/products.html" with object_list=products col_class_set="col-sm-2" %}

<h3>Featured Products</h3>

{% include "products/products.html" with object_list=products %}
{% endblock %}